<template name="navigation">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">

            <!-- Close canvas menu used only on OffCanvas page -->
            <!-- You can remove this tag if you dont use offCanvas menu -->
            <a class="close-canvas-menu"><i class="fa fa-times"></i></a>
            <!-- End offCanvas menu toggle -->

            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element"> <span>
                            {{#if getUserInfo.profileImage}}
                            <img style="max-height: 96px" alt="image" class="img-circle" src="{{getUserInfo.profileImage}}">
                            {{else}}
                            <img alt="image" class="img-circle" src="/img/profiles/photo.jpg">
                            {{/if}}
                             </span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">{{getUserInfo.name}}</strong>
                            </span> <span class="text-muted text-xs block"> {{getUserInfo.position}} <b class="caret"></b></span> </span> </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a href="/users/view/{{getUserInfo.userId}}">Profile</a></li>
                            <li><a href="/users/update/{{getUserInfo.userId}}">Edit profile</a></li>
                            <li><a data-toggle="modal" data-target="#uploadPhotoModal">Edit photo</a></li>
                            <li class="divider"></li>
                            <li><a href="login">Logout</a></li>
                        </ul>



                    </div>
                    <div class="logo-element">
                        IN+
                    </div>
                </li>
                <li class="{{isActivePath regex='/companies/list|/companies/view'}}">
                    <a href="#"><i class="fa fa-building"></i> <span class="nav-label">{{_"Companies"}}</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse {{isActivePath regex='/companies/list|/companies/view' className='in'}}">
                        <li class="{{isActivePath regex='/companies/view'}}"><a href="/companies/view/{{getUserInfo.company}}">Your company</a></li>
                        <li class="{{isActivePath regex='/companies/list'}}"><a href="/companies/list">List</a></li>
                    </ul>
                </li>
                <li class="{{isActivePath regex='/containers/list-all|/containers/list-company|/containers/view'}}">
                    <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">{{_"Containers"}}</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse {{isActivePath regex='/containers/list-all|/containers/list-company|/containers/view' className='in'}}">
                        <li class="{{isActivePath regex='/containers/list-company'}}"><a href="/containers/list-company">Your company containers</a></li>
                        <li class="{{isActivePath regex='/containers/list-all'}}"><a href="/containers/list-all">All containers</a></li>
                    </ul>
                </li>
                <li class="{{isActivePath regex='/users/list|/users/add|/users/update|/users/view'}}">
                    <a href="#"><i class="fa fa-group"></i> <span class="nav-label">{{_"Users"}}</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse {{isActivePath regex='/users/list|/users/add|/users/update' className='in'}}">
                        <li class="{{isActivePath regex='/users/list'}}"><a href="/users/list">{{_"List"}}</a></li>
                        <li class="{{isActivePath regex='/users/add'}}"><a href="/users/add">{{_"New user"}}</a></li>
                    </ul>
                </li>
                {{#if isInRole 'admin'}}
                <li class="{{isActivePath regex='/log'}}">
                    <a href="/log"><i class="fa fa-clock-o"></i> <span class="nav-label">Log</span> </a>
                </li>
                {{/if}}
            </ul>

        </div>
    </nav>
    <!-- Modal -->
    <div class="modal inmodal" id="uploadPhotoModal" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Modal title</h4>
                    <small class="font-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
                </div>
                <div class="modal-body">
                    <p><strong>Lorem Ipsum is simply dummy</strong> text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                        to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                    <div class="form-group">
                        <div class="custom-file">
                            <input id="profileimg" type="file" class="custom-file-input">
                            <label for="logo" class="custom-file-label">Choose file...</label>
                            <img id="blah" src="#" alt="profile preview" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                    <button id="uploadPhoto" type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- End modal -->
</template>
