<template name="footer">

    <div class="footer">
        <div class="pull-right">
        </div>
        <div>
            <strong>Copyright</strong> VKR System &copy; 2018
        </div>
    </div>

</template>
