<template name="addUserForm">
  {{#autoForm schema=addUserFormSchema id="addUserForm" type="method" meteormethod="addUserMethod"}}
  <fieldset>
    <!--{{> afQuickField name="name"}}-->
    {{> afQuickField name="email"}}
    <!--{{> afQuickField name="password" type="password"}}
    {{> afQuickField name="confirmPassword" type="password"}}-->
    {{> afQuickField name="roles"}}
    <div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <button type="reset" class="btn btn-default">Reset</button>
    </div>
  </fieldset>
  {{/autoForm}}
</template>
