<template name="usersListCom">
    {{#if Template.subscriptionsReady}}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            {{#each users}}
            <div class="col-lg-3">
                <div class="contact-box center-version">

                    <a href="/users/view/{{_id}}">
                        {{#if profile.profileImage}}
                        <img alt="image" class="img-circle" src="{{profile.profileImage}}">
                        {{else}}
                        <img alt="image" class="img-circle" src="/img/profiles/photo.jpg">
                        {{/if}}


                        <h3 class="m-b-xs"><strong>{{profile.name}}</strong></h3>

                        <div class="font-bold">{{profile.position}}</div>
                        <address class="m-t-md">
                            <strong>{{getUserCompany}}</strong><br>
                            {{getEmail}} <br>
                            {{profile.phone}}
                        </address>

                    </a>
                    <div class="contact-box-footer">
                        <div class="m-t-xs btn-group">
                            <a class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a>
                            <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>
                            <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
                        </div>
                    </div>

                </div>
            </div>
            {{/each}}
        </div>
    </div>
    {{else}}
    <div class="spiner-example">
        <div class="sk-spinner sk-spinner-double-bounce">
            <div class="sk-double-bounce1"></div>
            <div class="sk-double-bounce2"></div>
        </div>
    </div>
    {{/if}}
</template>
