<template name="usersViewCom">
    {{#if Template.subscriptionsReady}}
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row m-b-lg m-t-lg">
                <div class="col-md-6">

                    <div class="profile-image">
                        {{#if getUserInfo.profileImage}}
                        <img alt="image" class="img-circle" src="{{getUserInfo.profileImage}}">
                        {{else}}
                        <img alt="image" class="img-circle" src="/img/profiles/photo.jpg">
                        {{/if}}
                        {{#if isInRole 'admin'}}
                        <a href="/users/update/{{this.userId}}" class="btn btn-sm btn-primary">Edit profile</a>
                        {{/if}}
                    </div>
                    <div class="profile-info">
                        <div class="">
                            <div>
                                <h2 class="no-margins">
                                                {{getUserInfo.name}}
                                            </h2>
                                <h4>{{getEmail}}</h4>
                                <small>
                                                {{getUserInfo.otherInfo}}
                                            </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <table class="table small m-b-xs">
                        <tbody>
                            <tr>
                                <td>
                                    <strong>Company:</strong> {{getUserInfo.companyName}}
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <strong>Office:</strong> {{getUserInfo.office}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Position:</strong> {{getUserInfo.position}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-3">
                    <table class="table small m-b-xs">
                        <tbody>
                            <tr>
                                <td>
                                    <strong>Skype:</strong> {{getUserInfo.skype}}
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <strong>Work phone:</strong> {{getUserInfo.workPhone}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Mobile phone:</strong> {{getUserInfo.phone}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>


            </div>


        </div>
        {{else}}
        <div class="spiner-example">
            <div class="sk-spinner sk-spinner-double-bounce">
                <div class="sk-double-bounce1"></div>
                <div class="sk-double-bounce2"></div>
            </div>
        </div>
    {{/if}}
</template>
