<template name="updateUserForm">
{{#if Template.subscriptionsReady}}
  {{#autoForm schema=updateUserFormSchema doc=getUserInfo id="updateUserForm" type="method" meteormethod="updateUserMethod"}}
  <fieldset>
    {{> afQuickField name="userId" type="hidden"}}
    {{> afQuickField name="name"}}
    {{> afQuickField name="email" type="email"}}
    {{> afQuickField name="workPhone" type="tel"}}
    {{> afQuickField name="phone" type="tel"}}
    {{> afQuickField name="skype"}}
    {{> afQuickField name="position"}}
    {{> afQuickField name="office"}}
    {{> afQuickField name="otherInfo" type="textarea"}}
    <div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <button type="reset" class="btn btn-default">Reset</button>
    </div>
  </fieldset>
  {{/autoForm}}
  {{else}}
  <div class="spiner-example">
      <div class="sk-spinner sk-spinner-double-bounce">
          <div class="sk-double-bounce1"></div>
          <div class="sk-double-bounce2"></div>
      </div>
  </div>
{{/if}}
</template>
