<template name="usersUpdate">
    {{> pageHeading title='Log' links=getLinks}}
    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-content">
                        <h3>User profile update</h3>

                        {{>updateUserForm userId=getUserId}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
