<template name="usersView">
    {{> pageHeading title='User profile' links=getLinks}}
    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-content">
                        {{>usersViewCom userId=getUserId}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
