<template name="logPage">
    {{> pageHeading title='Log' links=getLinks}}
    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-content">
                        <h3>Log list</h3>

                        <div class="input-group">
                            <div class="input-group date">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" class="form-control" id="filterDate" value="{{getDate}}">
                            </div>
                        </div>
                        {{>logList date=getSelectedDate}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
