<template name="companiesViewCom">
    {{#if Template.subscriptionsReady}}
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row m-b-lg m-t-lg">
                <div class="col-md-3">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Cpmpany Profile Detail</h5>
                        </div>
                        <div>
                            <div class="ibox-content no-padding border-left-right">
                                {{#if getCompanyInfo.companyLogo}}
                                <img alt="image" class="img-responsive" src="{{getCompanyInfo.companyLogo}}">
                                {{else}}
                                <img alt="image" class="img-responsive" src="/img/landing/shattered.png">
                                {{/if}}
                            </div>
                            <div class="ibox-content profile-content">
                                <h4><strong> {{getCompanyInfo.name}} </strong></h4>
                                <p><i class="fa fa-map-marker"></i> {{getCompanyInfo.location}}</p><br>
                                <p><strong>INN: </strong>{{getCompanyInfo.INN}}</p><br>
                                <p><strong>KPP: </strong>{{getCompanyInfo.KPP}}</p><br>
                                <h5>
                                    About
                                </h5>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                {{#each users}}
                <div class="col-lg-3">
                    <div class="contact-box center-version">

                        <a href="/users/view/{{_id}}">

                            {{#if profile.profileImage}}
                            <img alt="image" class="img-circle" src="{{profile.profileImage}}">
                            {{else}}
                            <img alt="image" class="img-circle" src="/img/profiles/photo.jpg">
                            {{/if}}


                            <h3 class="m-b-xs"><strong>{{profile.name}}</strong></h3>

                            <div class="font-bold">{{profile.position}}</div>
                            <address class="m-t-md">
                                <strong>getUserCompany</strong><br>
                                {{getEmail}} <br>
                                {{profile.phone}}
                            </address>

                        </a>
                        <div class="contact-box-footer">
                            <div class="m-t-xs btn-group">
                                <a class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a>
                                <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>
                                <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
                            </div>
                        </div>

                    </div>
                </div>
                {{/each}}


            </div>
            <div class="row">
                {{#each containers}}
                <div class="col-md-3">
                    <div class="ibox">
                        <div class="ibox-content product-box">

                            <div class="product-imitation">
                                [ INFO ]
                            </div>
                            <div class="product-desc">
                                <small class="text-muted">{{location}}</small>
                                <a href="/containers/view/{{_id}}" class="product-name">Container {{feet}} ft.</a>



                                <div class="small m-t-xs">

                                </div>
                                <div class="m-t text-righ">

                                    <a href="/containers/view/{{_id}}" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        {{else}}
        <div class="spiner-example">
            <div class="sk-spinner sk-spinner-double-bounce">
                <div class="sk-double-bounce1"></div>
                <div class="sk-double-bounce2"></div>
            </div>
        </div>
    {{/if}}
</template>
