<template name="registerCompanyForm">
  {{#autoForm schema=registerCompanySchema id="registerCompanyForm" type="method" meteormethod="registerCompanyMethod"}}
  <fieldset>
    {{> afQuickField name="companyName"}}
    {{> afQuickField name="INN"}}
    {{> afQuickField name="KPP"}}
    {{> afQuickField name="name"}}
    {{> afQuickField name="email" id="loginField"}}
    {{> afQuickField name="password" type="password" id="passwordField"}}
    {{> afQuickField name="confirmPassword" type="password"}}
    <div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <button type="reset" class="btn btn-default">Reset</button>
    </div>
  </fieldset>
  {{/autoForm}}
</template>
