<template name="pageHeading">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
            <h2>{{title}}</h2>
            <ol class="breadcrumb">
                {{#each links}}
                {{#if url}}
                <li>
                    <a href="{{url}}">{{label}}</a>
                </li>
                {{else}}
                <li class="active">
                    <strong>{{label}}</strong>
                </li>
                {{/if}}
                {{/each}}
            </ol>
        </div>
    </div>
</template>
