<template name="logList">
    <ul class="sortable-list connectList agile-list" id="todo">
    {{#each messages}} {{#if isEq this.level 'INFO'}}
    <li class="info-element" id="task1">
        {{message}}
        <div class="agile-detail">
            <a href="#" class="pull-right btn btn-xs btn-white">{{additional.type}}</a>
            <strong>{{getMessageOwner userId}}</strong>
            <i class="fa fa-clock-o"></i> {{getMessageDate date}}
        </div>
    </li>
    {{/if}} {{#if isEq this.level 'ERROR'}}
    <li class="danger-element" id="task1">
        Simply dummy text of the printing and typesetting industry.
        <div class="agile-detail">
            <a href="#" class="pull-right btn btn-xs btn-white">Tag</a>
            <i class="fa fa-clock-o"></i> 12.10.2015
        </div>
    </li>
    {{/if}} {{#if isEq this.level 'WARN'}}
    <li class="warning-element" id="task1">
        Simply dummy text of the printing and typesetting industry.
        <div class="agile-detail">
            <a href="#" class="pull-right btn btn-xs btn-white">Tag</a>
            <i class="fa fa-clock-o"></i> 12.10.2015
        </div>
    </li>
    {{/if}} {{/each}}
    </ul>

</template>
