<template name="addContainerForm">
  {{#autoForm schema=addContainerFormSchema id="addContainerForm" type="method" meteormethod="addContainerMethod"}}
  <fieldset>
    {{> afQuickField name="feet" options=feetOptions}}
    {{> afQuickField name="isNew" type="boolean-checkbox"}}
    {{> afQuickField name="fridge" type="boolean-checkbox"}}
    {{> afQuickField name="height"}}
    {{> afQuickField name="length"}}
    {{> afQuickField name="width"}}
    {{> afQuickField name="state" options=stateOptions}}
    {{> afQuickField name="location"}}
    {{> afQuickField name="price"}}
    {{> afQuickField name="description" type="textarea"}}
    <div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <button type="reset" class="btn btn-default">Reset</button>
    </div>
  </fieldset>
  {{/autoForm}}
</template>
