<template name="containersListAllCom">
    {{#if Template.subscriptionsReady}}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            {{#each containers}}
            <div class="col-md-3">
                <div class="ibox">
                    <div class="ibox-content product-box">

                        <div class="product-imitation">
                            [ INFO ]
                        </div>
                        <div class="product-desc">
                            <small class="text-muted">{{location}}</small>
                            <a href="/containers/view/{{_id}}" class="product-name">Container {{feet}} ft.</a>



                            <div class="small m-t-xs">

                            </div>
                            <div class="m-t text-righ">

                                <a href="/containers/view/{{_id}}" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    {{else}}
    <div class="spiner-example">
        <div class="sk-spinner sk-spinner-double-bounce">
            <div class="sk-double-bounce1"></div>
            <div class="sk-double-bounce2"></div>
        </div>
    </div>
    {{/if}}
</template>
