<template name="containersViewCom">
    {{#if Template.subscriptionsReady}}
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">

                    <div class="ibox product-detail">
                        <div class="ibox-content">

                            <div class="row">
                                <div class="col-md-5">


                                    <div class="product-images">

                                        <div>
                                            <div class="image-imitation">
                                                [IMAGE 1]
                                            </div>
                                        </div>
                                        <div>
                                            <div class="image-imitation">
                                                [IMAGE 2]
                                            </div>
                                        </div>
                                        <div>
                                            <div class="image-imitation">
                                                [IMAGE 3]
                                            </div>
                                        </div>


                                    </div>

                                </div>
                                <div class="col-md-7">

                                    <h2 class="font-bold m-b-xs">
                                        Container {{getContainerInfo.feet}} ft.
                                    </h2>
                                    <small>{{getContainerInfo.companyName}}</small>
                                    <hr>
                                    <div>
                                        {{#if isContainerOwner}}
                                        <a href="/containers/update/{{this.containerId}}" class="btn btn-sm btn-primary">Edit</a>
                                        {{else}}
                                        <button id="rentButton" class="btn btn-primary pull-right" data-toggle="modal" data-target="#rentContainerModal">Rent</button>
                                        {{/if}}
                                        <h1 class="product-main-price"> ₽{{getContainerInfo.price}} <small class="text-muted">Per day</small> </h1>
                                        <p><i class="fa fa-map-marker"></i> {{getContainerInfo.location}}</p>
                                    </div>
                                    <hr>
                                    <h4>Description</h4>

                                    <div class="small text-muted">
                                        {{getContainerInfo.description}}
                                    </div>
                                    <table class="table small m-b-xs">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <strong>Heigth:</strong>
                                                </td>
                                                <td> {{getContainerInfo.height}}
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>Length:</strong>
                                                </td>
                                                <td> {{getContainerInfo.office}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>Width:</strong>
                                                </td>
                                                <td> {{getContainerInfo.position}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="table small m-b-xs">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <strong>New:</strong>
                                                </td>
                                                <td>
                                                    {{#if getContainerInfo.isNew}}
                                                    <dd>Yes</dd>
                                                    {{else}}
                                                    <dd>No</dd>
                                                    {{/if}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>Refrigerator:</strong>
                                                </td>
                                                <td>
                                                    {{#if getContainerInfo.fridge}}
                                                    <dd>Yes</dd>
                                                    {{else}}
                                                    <dd>No</dd>
                                                    {{/if}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>State:</strong>
                                                </td>
                                                <td>
                                                    <dd>{{getContainerInfo.state}}</dd>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="text-right">
                                        <div class="btn-group">
                                            <button class="btn btn-white btn-sm"><i class="fa fa-star"></i> Add to wishlist </button>
                                            <button class="btn btn-white btn-sm"><i class="fa fa-envelope"></i> Contact with author </button>
                                        </div>
                                    </div>


                                </div>
                            </div>

                        </div>
                        <div class="ibox-footer">
                                <span class="pull-right">
                                    Full stock - <i class="fa fa-clock-o"></i> 14.04.2016 10:04 pm
                                </span>
                            The generated Lorem Ipsum is therefore always free
                        </div>
                    </div>

                </div>
            </div>

            <!-- Modal -->
            <div class="modal inmodal" id="rentContainerModal" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content animated bounceInRight">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title">Modal title</h4>
                            <small class="font-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
                        </div>
                        <div class="modal-body">
                            <p><strong>Lorem Ipsum is simply dummy</strong> text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                                to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                            <div class="form-group">
                                <form id="containerRentForm">
                                    <div class="input-group">
                                        <div class="input-group date">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" name="rentCompanyFrom" class="form-control" id="fromDate" value="{{getDate}}">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" name="rentCompanyTo" class="form-control" id="toDate" value="{{getDate}}">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                            <button id="rentContainer" type="button" class="btn btn-primary">Rent</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- End modal -->


        </div>
        {{else}}
        <div class="spiner-example">
            <div class="sk-spinner sk-spinner-double-bounce">
                <div class="sk-double-bounce1"></div>
                <div class="sk-double-bounce2"></div>
            </div>
        </div>
    {{/if}}
</template>
